

.logo{
    margin-left: 120px;
    font-family: 'Questrial';
}

.NavContainer{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}

.link{
    text-decoration: none;
    color: black;
    margin-left: 40px;
    font-family: 'Questrial';
    padding: 10px;
    transition: .5s;
}

.link:hover{
    background-color: rgba(252,117,140,255);
    border-radius: 5px;
}

.icon{
    width: 25px;
    height: 25px;
    margin-right: 120px;
    margin-left: 50px;
    cursor: pointer;
}

.NavContent{
    width: auto;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.list{
    list-style: none;
    display: flex;
}

.iconMenu{
    display: none;
    margin-right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media screen and (max-width:850px){
    .list{
        display: none;
        flex-direction: column;
        margin-top: 100px;
    }

    .iconMenu{
        display: flex;
    }
}