.logo{
    margin-left: 120px;
    width: 30px;
    height: 30px;
    margin-top: 0px;
}

.NavContainer{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}

.link{
    text-decoration: none;
    color: black;
    margin-left: 40px;
    font-family: 'Questrial';
    padding: 10px;
    transition: .3s;
}

.link:hover{
    background-color: rgba(252,117,140,255);
    border-radius: 5px;
}

.icon{
    width: 25px;
    height: 25px;
    margin-right: 120px;
    margin-left: 50px;
    cursor: pointer;
}

.NavContent{
    width: auto;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.list{
    list-style: none;
    display: flex;
}

.list1{
    display: none;
    list-style: none;
}

.iconMenu{
    display: none;
    margin-right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.iconMenu1{
    display: none;
}


@media screen and (max-width:950px) {    
    .list{
        display: none;
        flex-direction: column;
        margin-top: 100px;
    }

    .iconMenu{
        display: flex;
        
    }

    .iconMenu1{
        display: flex;
        border: none;
        background-color: white;
    }

    .list1{
        display: flex;
        flex-direction: column;
        margin-right: 70px;
        /* margin-left:50%; */
        margin-top: 0px;
        text-align: center;
        border-radius: 5px;
    }

    .link{
        color:white;
        width: 50px;
    }

    .etiqueta{
        margin: 20px;
        font-size: 30px;
        color: white;
    }

    .parag{
        margin-top: 300px;
        margin-right: 20px;
    }
}

